.container{
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 200px auto 0;
 



}


.cube{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  background: pink;
   transition: all 0.5s ease-in-out; 
 

  
}
.cube:hover{
   animation: spin 5s  infinite cubic-bezier(0.36, 0, 0.66, -0.56);
  
}
.face{
  position: absolute;
  width: 200px;
  height: 200px;

}

.top {
  background: black;
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background: black;
  transform: rotateX(-90deg) translateZ(100px);
}

.right {
  background: black;
  transform: rotateY(90deg) translateZ(100px);
}
.left   {
  background: black;
  transform: rotateY(-90deg) translateZ(100px);
}
.front   {
  background: black;
  transform: rotateY(0deg) translateZ(100px);
}
.back   {
  background: black;
  transform: rotateY(-180deg) translateZ(100px);
}


@keyframes spin{
  from{
    transform: rotateX(0deg) rotateY(0deg) translate(0px); 
  }

  to{
    transform: rotateX(360deg) rotateY(360deg) translate(100px);
  }
}